<br />
<br />

<% if @orders.size != 0 %>
	<table class="table table-striped table-bordered table-dark">
		<thead>
			<tr>
				<th width="200">Customer Name</th>
				<th width="200">Order Status</th>
				<th width="200">Order Date</th>
				<th width="200">Required Date</th>
				<th width="200">Delivered Date</th>
				<th width="200">Store Name</th>
				<th width="200">Staff Name</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |o| %>
			<tr>
				<td><%= o.customer.first_name + " " + o.customer.last_name %></td>
				<td><%= @order_status[o.order_status] %></td>
				<td><%= o.order_date.strftime("%d-%m-%Y") %></td>
				<td><%= o.required_date.strftime("%d-%m-%Y") %></td>
				<td><%= o.shipped_date ? o.shipped_date.strftime("%d-%m-%Y") : nil %></td>
				<td><%= o.store.store_name %></td>
				<td><%= o.staff.first_name + " " + o.staff.last_name %></td>

			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<center><h4>No Results Found</h4></center>
<% end %>
<center><%= will_paginate @orders, renderer: BootstrapPagination::Rails, previous_label: "Back", next_label: "Next", inner_window: 1, outer_window: 1 %></center>

<%= link_to "Go to Customers", root_path %>